@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oneTimePickUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendedStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supspendEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.whoPickedItUp)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zipcode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pickUpDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.oneTimePickUp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.suspendedStart)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.supspendEnd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.whoPickedItUp)
    </td>
    <td>
        @Html.ActionLink("Confirm PickUp", "AddPayment", new { id = item.id })
    </td>
</tr>
}
    @Html.TextBox("dayOfWeek")
    
    

</table>
